body{
margin:0;
overflow:hidden;
background:black;
color:white;
font-family:Arial;
}

#titleScreen{

position:absolute;

width:100%;
height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

#game{

display:none;

}

canvas{

background:#d9d9d9;

display:block;

}

#controls{

position:absolute;

bottom:20px;

left:20px;

display:none;

}

button{

font-size:30px;

margin:5px;

}
